/* Reset CSS */

* {
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/background1.jpg') no-repeat center top;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/background2.jpg') no-repeat center top;
    background-size: cover;
    font-size: 62.5%;
}

body {
    font-family: 'Varela Round', Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: middle;
    align-items: center;
    margin-top: 20vmin;
}

.container h1 {
    font-family: 'Indie Flower';
    font-size: 8rem;
    color: #F1F7ED;
    margin-bottom: 100px;
    text-align: center;
}

.container .keys {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius:15px;
    border: gray solid;
    /* background-image: linear-gradient(rgba(235, 179, 169, 0), rgba(235, 179, 169, 0)); */
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.07s;
}

.key span {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.key small{
    font-size: 1.5rem;
    font-weight: bold;
    color: #D57A66;
    margin-top: 5px;
}

.key:hover{
    background-color: #FCDEBE;
    border: none;
    transform: scale(1.2);
}

.key:hover span{
    color:#0D1321
}

.active:hover{
    background-color: #FCDEBE;
    border: none;
    transform: scale(1.2);
}

.active:hover span{
    color:#0D1321
}